@namespace BlazorDatasheet.Render.DefaultComponents
@inherits BaseRenderer

<div style="margin-top:auto;margin-bottom: auto;">
    <input type="checkbox" disabled="@Cell?.Format?.IsReadOnly" @bind="Checked"/>
</div>

@code {

    private bool _checked;
    private bool IsReadOnly { get; init; }

    public bool Checked
    {
        get { return _checked; }
        set
        {
            _checked = value;
            this.Sheet.Cells.SetValue(Cell.Row, Cell.Col, _checked);
        }
    }

    protected override void OnParametersSet()
    {
        var parsed = bool.TryParse(Cell?.Value?.ToString(), out var val);
        if (!parsed)
            val = false;
        else
            _checked = val;

        base.OnParametersSet();
    }

}