@namespace BlazorDatasheet.Render.DefaultComponents
@using System.Globalization
@inherits BaseRenderer

<div style="color: @(ValidationError ? "red" : "black")">@FormattedNumber</div>

@code {
    private bool ValidationError => !Double.TryParse(Cell.GetValue<string>(), out double res);

    private string FormattedNumber
    {
        get
        {
            var num = Cell.GetValue<double?>();
            if (num == null || double.IsNaN(num.Value))
                return "";
            
            if (string.IsNullOrEmpty(Cell.Formatting.StringFormat))
                return num.Value.ToString(CultureInfo.CurrentCulture);
            else
                return num.Value.ToString(Cell.Formatting.StringFormat, CultureInfo.CurrentCulture);


            return Cell.GetValue<string>();
        }
    }

}