@namespace BlazorDatasheet.Render.DefaultComponents
@using BlazorDatasheet.Core.Edit
@inherits BaseRenderer

<div style="display: flex; flex-direction: row; justify-content: space-between; width:100%;">
    <div style="overflow: hidden;">
        @(Cell.Value?.ToString())
    </div>
    <CaretButton OnClick="() => this.RequestEdit(EditEntryMode.Mouse)"/>

</div>