@namespace BlazorDatasheet.Render.DefaultComponents
@using BlazorDatasheet.Core.Edit
@inherits BaseRenderer

<div
    class="sheet-select-render"
    style="display: flex; flex-direction: row; justify-content: space-between; width:@(Cell.Width)px; height: @(Cell.Height)px">
    <div style="overflow: hidden;">
        @(Cell.Value?.ToString())
    </div>
    <div style="margin-right: 8px;">
        <CaretButton OnPress="@BeginEdit"/>
    </div>
</div>

@code {

    private void BeginEdit()
    {
        Sheet.Editor.BeginEdit(Cell.Row, Cell.Col, true, EditEntryMode.Mouse);
    }

}