@namespace BlazorDatasheet.Render.DefaultComponents
@using BlazorDatasheet.Icons
@inherits BaseRenderer

<div style="display: flex; flex-direction: row; justify-content: space-between; width:100%;">
    <div style="overflow: hidden;">
        @(Cell.GetValue<string>())
    </div>
    <button tabindex="-1" class="dropper" @onclick="() => this.RequestEdit(true, EditEntryMode.Mouse)">
        @Icons.CaretIcon
    </button>
</div>

@code {

}