@namespace BlazorDatasheet.Render.DefaultComponents
@using System.Text
@inherits BaseRenderer

<div class="cell-renderer" title="@(Cell.GetValue<string>())">
    @(Cell.GetValue<string>())
</div>

@code{

}