@page "/ConditionalFormatting"
@using BlazorDatasheet.Icons
@using BlazorDatasheet.Render
@using Region = BlazorDatasheet.DataStructures.Geometry.Region
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Formats
@using BlazorDatasheet.Core.Formats.DefaultConditionalFormats
<PageTitle>Conditional Formatting</PageTitle>

<h1>Conditional Formatting</h1>

<p>
    This example shows two conditional formats applied to the cells in the sheet

    <ol>
        <li>Column 1: Shows a "check" icon if the cell contains the word check.</li>
        <li>Columns 2 - 6: Shows a black and white colour gradient that depends on the cell's value in relation to all others with the conditional format applied.</li>
    </ol>
</p>

<div style="height: 600px; overflow-y: scroll">
    <Datasheet
        Sheet="sheet">
    </Datasheet>
</div>

@code {

    private Sheet sheet;

    protected override void OnInitialized()
    {
        sheet = new Sheet(30, 5);
        var numberScaleConditionalFormat = new NumberScaleConditionalFormat();
        var checkConditionalFormat = new CustomCheckConditionalFormat("check");

        var values = new List<CellValueChange>();

        var regionOfNumberScaleFormat = new Region(0, 99, 1, 4);
        var rand = new Random();
        foreach (var posn in regionOfNumberScaleFormat)
        {
            values.Add(new CellValueChange(posn.Row, posn.Col, (int?)rand.Next(100)));
        }

        sheet.SetCellValues(values);

        sheet.ConditionalFormatting.Apply(numberScaleConditionalFormat, new Region(0, 99, 1, 4));
        sheet.ConditionalFormatting.Apply(checkConditionalFormat, new Region(0, 99, 0, 0));

        base.OnInitialized();
    }

    public class CustomCheckConditionalFormat : ConditionalFormatAbstractBase
    {
        private readonly string _secretText;

        public CustomCheckConditionalFormat(string secretText)
        {
            _secretText = secretText;
        }

        public CellFormat Check = new CellFormat()
        {
            Icon = "check",
            IconColor = "green",
        };

        public override CellFormat? CalculateFormat(int row, int col, Sheet sheet)
        {
            var cell = sheet.GetCell(row, col);
            var value = cell.GetValue<string>();

            if (value == null)
                return null;

            if (value.ToLower().Contains(_secretText))
                return Check;
            else
                return null;
        }
    }

}