@page "/CustomEditor"
@using BlazorDatasheet.Render
@using BlazorDatasheet.Render.DefaultComponents
@using BlazorDatasheet.Core.Data
<h1>Custom Editor</h1>
<PageTitle>Custom Editor</PageTitle>

<p>This example shows how to use custom editor by assigning a type definition with the corresponding renderer and editor components.</p>

<p>
    See this example on GitHub
    <a href="https://github.com/anmcgrath/BlazorDatasheet/blob/main/src/BlazorDatasheet.SharedPages/Pages/CustomEditor.razor">here.</a>
</p>

<Datasheet Sheet="sheet" CustomCellTypeDefinitions="CustomEditors"></Datasheet>

@code {

    private Sheet sheet;
    private Dictionary<string, CellTypeDefinition> CustomEditors { get; } = new();

    protected override void OnInitialized()
    {
        CustomEditors.Add("number", CellTypeDefinition.Create<NumericEditor, TextRenderer>());


        sheet = new Sheet(1, 1);
        sheet.Cells[1, 1].Type = "number";

        base.OnInitialized();
    }

}