@page "/CustomEditor"
@using BlazorDatasheet.Data
<h1>Custom Editor</h1>
<PageTitle>Custom Editor</PageTitle>

<Datasheet Sheet="sheet"></Datasheet>

@code {

    private Sheet sheet;

    protected override void OnInitialized()
    {
        sheet = new Sheet(1, 1, new Cell[1, 1]
        {
            {
                new Cell(10)
                {
                    Type = "number"
                }
            }
        });

        sheet.RegisterEditor<NumericEditor>("number");
        base.OnInitialized();
    }

}