@page "/Formula"
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Formats
@using BlazorDatasheet.Formula.Core
@using BlazorDatasheet.Menu
<h1>Formula</h1>

<div>
    <p>
        Blazor datasheet supports a subset of Excel functions in a similar style formula language. To set a formula,
        type "=" before the definition.
    </p>
</div>

<Datasheet
    MenuOptions="@(new SheetMenuOptions()
                 {
                     MergeEnabled = false,
                     HideColsEnabled = false,
                     HideRowsEnabled = false,
                     ClearEnabled = false,
                     DeleteColsEnabled = false,
                     DeleteRowsEnabled = false,
                     HeaderMenuEnabled = false,
                     InsertColsEnabled = false,
                     InsertRowsEnabled = false,
                     SortRangeEnabled = false,
                     FilterColumnEnabled = false
                 })"
    Sheet="_sheet"/>

@code {

    private Sheet _sheet = new(11, 2, 50);

    protected override void OnInitialized()
    {
        var data = new CellValue[9][];

        for (int i = 0; i < 9; i++)
        {
            data[i] = [CellValue.Number(i * 10)];
        }

        _sheet.BatchUpdates();
        _sheet.Commands.PauseHistory();
        ;
        _sheet.Rows.HeadingWidth = 30;
        _sheet.Cells.SetValues(0, 1, data);
        _sheet.Cells.SetFormula(9, 1, "=SUM(B1:B9)");
        _sheet.Cells.SetFormula(10, 1, "=AVERAGE(B1:B9)");
        _sheet.Range("A10")!.Value = "Sum:";
        _sheet.Columns.SetSize(1, 90);
        _sheet.Range("A10:A11")!.Format = new CellFormat() { HorizontalTextAlign = TextAlign.End };
        _sheet.Range("B10:B11")!.Format = new CellFormat() { NumberFormat = "N1" };
        _sheet.Range("B:B")!.Format = new CellFormat() { HorizontalTextAlign = TextAlign.Center };
        _sheet.Range("A11")!.Value = "Ave:";
        _sheet.Commands.ResumeHistory();
        _sheet.EndBatchUpdates();

        base.OnInitialized();
    }

}