@page "/"
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Formats
@using BlazorDatasheet.Core.Formats.DefaultConditionalFormats
@using BlazorDatasheet.Core.Validation
@using BlazorDatasheet.SharedPages.Components

<h1>BlazorDatasheet</h1>

<div style="margin-top: 1rem">
    <p>
        BlazorDatasheet is an excel-like control written in C# for Blazor.
    </p>

    <p>
        See this example on GitHub
        <a href="https://github.com/anmcgrath/BlazorDatasheet/blob/main/src/BlazorDatasheet.SharedPages/Pages/Index.razor">here.</a>
    </p>
</div>

<div style="width: 800px;">
    <Toolbar
        EditorOnKeyDown="OnEditorKeyDown"
        Sheet="Sheet"/>
</div>

<div style="width: 800px; height: 500px; overflow: scroll;">
    <Datasheet
        @ref="_datasheet"
        ShowFormulaDependents="ShowFormulaDependents"
        FrozenLeftCount="1"
        FrozenTopCount="1"
        FrozenRightCount="1"
        FrozenBottomCount="1"
        Theme="@Theme"
        ShowColHeadings="ShowColHeadings"
        ShowRowHeadings="ShowRowHeadings"
        Sheet="Sheet"/>
</div>

<FluentToolbar Width="100%">
    <FluentCheckbox @bind-Value="ShowRowHeadings">Row headings</FluentCheckbox>
    <FluentCheckbox @bind-Value="ShowColHeadings">Column headings</FluentCheckbox>
    <FluentCheckbox @bind-Value="IsDarkMode">Dark theme</FluentCheckbox>
    <FluentCheckbox @bind-Value="ShowFormulaDependents">Show formula dependents</FluentCheckbox>
</FluentToolbar>


@code {

    private Sheet Sheet;
    private string Theme => IsDarkMode ? "dark" : "default";
    private bool _isDarkMode;

    private bool ShowRowHeadings { get; set; } = true;

    private bool ShowColHeadings { get; set; } = true;

    private bool IsDarkMode { get; set; }

    private Datasheet _datasheet = default!;
    private bool _showRowHeadings = true;
    private bool _showColHeadings = true;

    private bool ShowFormulaDependents { get; set; }

    protected override void OnInitialized()
    {
        var src = new SourceValidator(new List<string>()
        {
            "Option 1",
            "Option 2"
        }, false);

        Sheet = new Sheet(100, 100);
        Sheet.ScreenUpdating = false;
        Sheet.BatchUpdates();
        Sheet.Commands.PauseHistory();
        Sheet.Validators.Add(4, 0, new NumberValidator(true));
        Sheet.Validators.Add(1, 3, src);

        Sheet.Cells[0, 0].Value = "Blazor datasheet";
        Sheet.Range("A1:D1")!.Merge();
        var border = new Border() { Width = 1, Color = "#000000" };
        Sheet.Range("A1:D1").Format = new CellFormat()
        {
            HorizontalTextAlign = TextAlign.End,
            BackgroundColor = "#F5F5F5",
            BorderBottom = border,
            BorderRight = border,
            BorderLeft = border,
            BorderTop = border,
            FontWeight = "bold",
        };

        Sheet.Cells[3, 3].Value = "Date/Time:";
        Sheet.Cells[3, 4].Type = "datetime";
        Sheet.Cells[3, 4].Value = DateTime.Now;
        Sheet.Cells[3, 4].Format = new CellFormat()
        {
            NumberFormat = "yyyy-MM-dd"
        };

        Sheet.Cells[4, 3].Value = "Select:";
        Sheet.Cells[4, 4].Type = "select";
        Sheet.Cells[4, 4].Value = src.ValidationSource[0];
        Sheet.Validators.Add(4, 4, src);

        Sheet.Cells[5, 3].Value = "Bool:";
        Sheet.Cells[5, 4].Type = "boolean";
        Sheet.Cells[5, 4].Value = false;

        Sheet.Cells.Merge(new Region(14, 15, 4, 5));

        for (int i = 1; i < 5; i++)
        {
            Sheet.Cells[i, 1].Value = i * 2;
        }

        Sheet.Cells[5, 0].Value = "Sum:";
        Sheet.Cells[5, 1].Formula = "=SUM(B2:B5)";

        Sheet.SetFormat(new Region(3, 5, 3, 3), new CellFormat() { HorizontalTextAlign = TextAlign.End });

        for (int i = 10; i <= 13; i++)
        {
            for (int j = 0; j < 4; j++)
                Sheet.Cells[i, j].Value = i + j;
        }

        Sheet.Range("A11:D14").Format = new CellFormat()
        {
            BorderBottom = border,
            BorderLeft = border,
            BorderRight = border,
            BorderTop = border
        };
        Sheet.ConditionalFormats.Apply(new Region(10, 13, 0, 4), new NumberScaleConditionalFormat(System.Drawing.Color.YellowGreen, System.Drawing.Color.IndianRed));

        Sheet.Rows.SetHeadings(7, 7, "Custom Row");
        Sheet.Columns.SetHeadings(5, 5, "Custom Col");

        Sheet.EndBatchUpdates();
        Sheet.Commands.ResumeHistory();
        Sheet.ScreenUpdating = true;
    }

    public async void OnEditorKeyDown(KeyboardEventArgs e)
    {
        if (e.Key != "Enter" && e.Key != "Tab" && e.Key != "Escape")
            return;

        await _datasheet.FocusAsync();
    }


}