@page "/ObjectEditor"
@using BlazorDatasheet.Edit.DefaultComponents;
@using BlazorDatasheet.ObjectEditor
@using BlazorDatasheet.Render.DefaultComponents;
@using BlazorDatasheet.Validation
@using BlazorDatasheet.Data
@using BlazorDatasheet.Render
@using BlazorDatasheet.SharedPages.Data

<PageTitle>Object editor</PageTitle>

<h1>Object Editor Builder</h1>

<p>We can build an editor that will edit properties of a list of objects.</p>

<p>With properties across columns:</p>

<Datasheet
    @ref="dataSheet1"
    CustomCellTypeDefinitions="CustomTypes"
    Sheet="editor1.Sheet">
</Datasheet>

<p>With properties across rows:</p>

<Datasheet
    @ref="dataSheet2"
    CustomCellTypeDefinitions="CustomTypes"
    Sheet="editor2.Sheet">
</Datasheet>

@code {

    private Sheet sheet;
    private List<Person> People;
    private ObjectEditor<Person> editor1;
    private ObjectEditor<Person> editor2;
    private Datasheet dataSheet1;
    private Datasheet dataSheet2;
    private Dictionary<string, CellTypeDefinition> CustomTypes { get; } = new();

    protected override void OnInitialized()
    {
        People = new List<Person>()
        {
            new Person() { Id = 0, FirstName = "John", LastName = "Citizen", Age = "76", IsFriendly = false, StartDate = DateTime.Now.Subtract(TimeSpan.FromDays(1000)) },
            new Person() { Id = 1, FirstName = "Bob", LastName = "Bobbers", Age = "39", IsFriendly = true, StartDate = DateTime.Now.Subtract(TimeSpan.FromDays(300)) },
            new Person() { Id = 2, FirstName = "Julia", LastName = "Stevens", Age = "19", IsFriendly = true, StartDate = DateTime.Now.Subtract(TimeSpan.FromDays(12)) }
        };

        var builderCols = new ObjectEditorBuilder<Person>(People, GridDirection.PropertiesAcrossColumns);
        var builderRows = new ObjectEditorBuilder<Person>(People, GridDirection.PropertiesAcrossRows);

        var validCategories = new List<string>() { "", "Employer", "Manager" };
        var categoryValidator = new SourceValidator(validCategories, true);

        editor1 = builderCols
            .AutogenerateProperties(true)
            .WithProperty(x => x.Category, pd =>
            {
                pd.UseDataValidator(categoryValidator);
                pd.Type = "select";
            })
            .WithProperty(x => x.State, pd => { pd.Type = "PersonState"; })
            .Build();

        editor2 = builderRows
            .AutogenerateProperties(true)
            .WithProperty(x => x.Category, pd =>
            {
                pd.UseDataValidator(categoryValidator);
                pd.Type = "select";
            })
            .WithProperty(x => x.State, pd => { pd.Type = "PersonState"; })
            .Build();

        CustomTypes.Add("PersonState", CellTypeDefinition.Create<EnumEditorComponent<PersonState>, SelectRenderer>());

        editor1.Sheet.CellsChanged += (sender, enumerable) => dataSheet2.ForceReRender();
        editor2.Sheet.CellsChanged += (sender, enumerable) => dataSheet1.ForceReRender();

        base.OnInitialized();
    }

}