@page "/Workbook"
@using BlazorDatasheet.Core.Data
<h3>Workbook</h3>

<p>Multiple sheets can be linked within a workbook. Formula in one sheet can reference cells in another.</p>

<p>Sheet 1</p>
<Datasheet Sheet="@Workbook.GetSheet("Sheet1")"/>
<p>
    Sheet 2
</p>
<Datasheet Sheet="@Workbook.GetSheet("Sheet2")"/>


@code {

    private readonly Workbook Workbook = new();

    protected override void OnInitialized()
    {
        var sheet1 = Workbook.AddSheet(8, 3);
        var sheet2 = Workbook.AddSheet(8, 3);
        sheet1.Cells["A1"]!.Formula = "=Sheet2!A1";
        sheet2.Cells["A1"]!.Value = "Hello from sheet 2";
        base.OnInitialized();
    }

}