@using BlazorDatasheet.Edit.DefaultComponents
@using BlazorDatasheet.Render
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Edit
@using BlazorDatasheet.Core.Events.Edit
@using BlazorDatasheet.Core.Interfaces
@using BlazorDatasheet.Core.Layout
@using BlazorDatasheet.Util
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@if (IsEditing)
{
    <div id="editor" class="editor-overlay"
         style="position:absolute; box-sizing: border-box; display: inline-block; @GetEditorSizeStyling()">
        <DynamicComponent
            Type="@ActiveEditorType"
            Parameters="@GetDynamicEditorParameters()"
            @ref="ActiveEditorContainer"/>
    </div>
}


@code {

    [Parameter, EditorRequired] public Sheet Sheet { get; set; }

    [Parameter, EditorRequired] public Dictionary<string, CellTypeDefinition> CustomCellTypes { get; set; }

    private Sheet? _sheet;

    [Parameter, EditorRequired] public CellLayoutProvider CellLayoutProvider { get; set; }

    /// The type of the active editor, which is an ICellEditor
    private Type? ActiveEditorType { get; set; } = typeof(TextEditorComponent);

    /// Whether the Editor is currently editing
    internal bool IsEditing { get; private set; }

    internal IReadOnlyCell EditCell { get; private set; }

    // The currently edited value
    internal string? EditValue { get; private set; }

    /// Whether the edit is "soft" which means that it can be accepted with arrow navigation
    internal bool IsSoftEdit { get; private set; }

    /// The current edit entry mode
    private EditEntryMode _editEntryMode { get; set; }

    /// The key that was pressed to enter the edit
    private string _editEntryKey;

    /// The current cell editor component
    private BaseEditor? _activeCellEditor;

    private bool BeginningEdit { get; set; }

    /// The Dynamic component holding the Active Editor component
    internal DynamicComponent? ActiveEditorContainer { get; set; }

    protected override void OnParametersSet()
    {
        if (_sheet != Sheet)
        {
            if (_sheet != null)
            {
                _sheet.Editor.EditBegin -= EditorOnEditBegin;
                _sheet.Editor.EditFinished -= EditorOnEditFinished;
                _sheet.Editor.EditValueChanged -= EditorOnEditValueChanged;
            }

            _sheet = Sheet;
            _sheet.Editor.EditBegin += EditorOnEditBegin;
            _sheet.Editor.EditFinished += EditorOnEditFinished;
            _sheet.Editor.EditValueChanged += EditorOnEditValueChanged;
        }

        base.OnParametersSet();
    }

    private void EditorOnEditValueChanged(object? sender, string? e)
    {
        if (_activeCellEditor != null)
            _activeCellEditor.HandleEditValueChange(e);
    }

    private void EditorOnEditBegin(object? sender, EditBeginEventArgs e)
    {
        EditValue = e.EditValue;
        ActiveEditorType = GetEditorType(e.Type);
        IsEditing = true;
        IsSoftEdit = e.IsSoftEdit;
        _editEntryMode = e.Mode;
        EditCell = e.Cell;
        _editEntryKey = e.Key ?? string.Empty;
        BeginningEdit = true;
        StateHasChanged();
    }

    private Type GetEditorType(string cellType)
    {
        if (CustomCellTypes?.TryGetValue(cellType, out var customCellType) == true)
            return customCellType.EditorType;

        switch (cellType)
        {
            case "default":
                return typeof(TextEditorComponent);
            case "boolean":
                return typeof(BoolEditorComponent);
            case "select":
                return typeof(SelectEditorComponent);
            case "datetime":
                return typeof(DateTimeEditorComponent);
            case "textarea":
                return typeof(TextareaEditorComponent);
        }

        return typeof(TextEditorComponent);
    }

    private void EditorOnEditFinished(object? sender, EditFinishedEventArgs e)
    {
        ClearCurrentEdit();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (BeginningEdit)
        {
            BeginningEdit = false;
            if (ActiveEditorContainer?.Instance == null)
                return;
            _activeCellEditor = (BaseEditor)(ActiveEditorContainer.Instance);
            if (_activeCellEditor == null)
                return;

            _activeCellEditor.BeforeEdit(EditCell, Sheet);
            _activeCellEditor.RequestCancelEdit += HandleEditorRequestCancelEdit;
            _activeCellEditor.RequestAcceptEdit += HandleEditorRequestAcceptEdit;
            _activeCellEditor.BeginEdit(_editEntryMode, EditValue, _editEntryKey);

            if (_editEntryMode != EditEntryMode.None)
            {
                if (!EqualityComparer<ElementReference>.Default.Equals(_activeCellEditor.InputRef, default(ElementReference)))
                {
                    // Request focus with a delay so that it the field doesn't capture any oninput events
                    // from the text field that is just rendered. If not, there's inconsistent behaviour between
                    // WASM and Server.
                    await JS.InvokeVoidAsync("setFocusWithTimeout", _activeCellEditor.InputRef, 0);
                }
            }
        }
    }

    public bool HandleKeyDown(string key, bool ctrlKey, bool shiftKey, bool altKey, bool metaKey)
    {
        if (!IsEditing)
            return false;

        if (_activeCellEditor == null)
            return false;

        return _activeCellEditor.HandleKey(key, ctrlKey, shiftKey, altKey, metaKey);
    }

    private void HandleEditorRequestCancelEdit(object? sender, EventArgs args)
    {
        _sheet?.Editor.CancelEdit();
    }

    private void HandleEditorRequestAcceptEdit(object? sender, EventArgs args)
    {
        _sheet?.Editor.AcceptEdit();
    }

    private void ClearCurrentEdit()
    {
        if (_activeCellEditor != null)
        {
            _activeCellEditor.RequestCancelEdit -= HandleEditorRequestCancelEdit;
            _activeCellEditor.RequestAcceptEdit -= HandleEditorRequestAcceptEdit;
        }

        this.IsEditing = false;
        StateHasChanged();
    }

    private string GetEditorDisplayStyling()
    {
        var sb = new StyleBuilder();
        var visualCell = new VisualCell(EditCell.Row, EditCell.Col, Sheet);
        var format = visualCell.Format;

        sb.AddStyleNotNull("background", format?.BackgroundColor);
        sb.AddStyle("background", "var(--sheet-bg-color)", format?.BackgroundColor == null);
        sb.AddStyleNotNull("text-align", visualCell?.Format?.TextAlign);
        sb.AddStyleNotNull("font-weight", visualCell?.Format?.FontWeight);

        return sb.ToString();
    }

    /// <summary>
    /// Calculates the top/left/width/height styles of the editor container
    /// </summary>
    /// <returns></returns>
    private string GetEditorSizeStyling()
    {
        var sb = new StyleBuilder();
        var left = CellLayoutProvider.ComputeLeftPosition(EditCell.Col);
        var top = CellLayoutProvider.ComputeTopPosition(EditCell.Row);

        var mergedPosn = Sheet.Cells.GetMerge(EditCell.Row, EditCell.Col)?
            .GetIntersection(Sheet.Region);

        int colSpan = 1;
        int rowSpan = 1;

        if (mergedPosn != null)
        {
            colSpan = mergedPosn.Width;
            rowSpan = mergedPosn.Height;
        }

        var w = CellLayoutProvider.ComputeWidth(EditCell.Col, colSpan);
        var h = CellLayoutProvider.ComputeHeight(EditCell.Row, rowSpan);

        sb.AddStyle("left", $"{left + 1}px;");
        sb.AddStyle("top", $"{top + 1}px;");
        sb.AddStyle("min-width", $"{w - 1}px;");
        sb.AddStyle("max-width", $"{w - 1}px;");
        sb.AddStyle("height", $"{h - 1}px;");
        var style = sb.ToString();
        return style;
    }


    private IDictionary<string, object> GetDynamicEditorParameters()
    {
        return new Dictionary<string, object>()
        {
            { "OnValueChanged", EventCallback.Factory.Create<string>(this, HandleEditValueChanged) },
            { "Style", GetEditorDisplayStyling() }
        };
    }

    private void HandleEditValueChanged(string newValue)
    {
        Sheet.Editor.EditValue = newValue;
    }

}