@using BlazorDatasheet.Model
@inherits BaseEditorComponent

<input @bind="EditString" class="text-input" @ref="InputTextComponent"/>
<div class="select-list">
    @foreach (var val in values)
    {
        <div class="select-item" @onmouseup="() => { EditString = val; this.AcceptEdit(); }">@val</div>
    }
</div>

@code {

    private ElementReference InputTextComponent;

    private string[] values = new string[5]
    {
        "A", "B", "C", "D", "E"
    };

    public override void BeginEdit(EditEntryMode entryMode, Cell cell, string key)
    {
        EditString = cell.Value;
        this.IsSoftEdit = true;

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InputTextComponent.FocusAsync();
            await base.OnInitializedAsync();
        }
    }

    public override bool CanAcceptEdit() => true;

    public override bool CanCancelEdit() => true;


}