@using AngleSharp.Css.Dom
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.DataStructures.Geometry
@using FluentAssertions
@using NUnit.Framework
@inherits BaseTestComponent

@code
{
    [Test]
    public async Task Datasheet_With_One_Cell_Defined_Renders_Correctly()
    {
        // Arrange
        var sheet = new Sheet(2, 2);

        //Act
        var cut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowColHeadings, false);
            parameters.Add(p => p.ShowRowHeadings, false);
        });

        await cut.InvokeAsync(() =>
        {
            cut.Instance.ForceReRender();
            sheet.Cells.SetValue(1, 1, "Test");
        });


        // Assert
        var cell = cut.FindAll("div.bds-sheet-cell").Last();
        cell.MarkupMatches(@"
            <div class=""bds-sheet-cell"" data-row=""1"" data-col=""1"">
                <div class=""bds-cell-container"">
                    Test
                </div>
            </div>");
    }

    [Test]
    public async Task Datasheet_With_Precision_Set_Renders_Correctly()
    {
        var sheet = new Sheet(1, 1);

        var cut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.NumberPrecisionDisplay, 2);
        });

        await cut.InvokeAsync(() =>
        {
            cut.Instance.ForceReRender();
            sheet.Cells.SetValue(0, 0, 1.234567);
        });

        var cell = cut.FindAll("div.bds-cell-container").Last().FirstChild;
        cell!.MarkupMatches(@"1.23");
    }

    [Test]
    public async Task Begin_Edit_Cell_Triggers_Edit()
    {
        var sheet = new Sheet(3, 3);

        var cut = RenderComponent<Datasheet>(parameters => { parameters.Add(p => p.Sheet, sheet); });

        await cut.InvokeAsync(() =>
        {
            cut.Instance.ForceReRender();
            sheet.Editor.BeginEdit(1, 2);
        });

        var editors = cut.FindAll("div.editor-overlay");
        editors.Count.Should().Be(1);

        var editor = editors.First();

        editor.GetStyle()
            .GetTop()
            .Should()
            .Be(sheet.Rows.GetVisualTop(1) + 1 + "px");

        editor.GetStyle()
            .GetLeft()
            .Should()
            .Be(sheet.Columns.GetVisualLeft(2) + 1 + "px");
    }

    [Test]
    public void Datasheet_With_No_Frozen_Sections_Renders_Main_Pane_Row_Only()
    {
        var sheet = new Sheet(5, 5);
        var cut = RenderComponent<Datasheet>(parameters => { parameters.Add(p => p.Sheet, sheet); });

        cut.FindAll("div.bds-pane-row").Count.Should().Be(1);
        cut.FindAll("div.bds-pane-row-top").Count.Should().Be(0);
        cut.FindAll("div.bds-pane-row-bottom").Count.Should().Be(0);
    }

    [Test]
    public void Datasheet_With_All_Frozen_Sections_Renders_Three_Pane_Rows()
    {
        var sheet = new Sheet(20, 20);
        sheet.FreezeRowCols(1, 1, 1, 1);

        var cut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowColHeadings, false);
            parameters.Add(p => p.ShowRowHeadings, false);
        });

        cut.FindAll("div.bds-pane-row").Count.Should().Be(3);
        cut.FindAll("div.bds-frozen-top").Count.Should().Be(1);
        cut.FindAll("div.bds-frozen-bottom").Count.Should().Be(1);
    }

    [Test]
    public void Datasheet_With_All_Frozen_Sections_Renders_Three_Pane_Row_Containers()
    {
        var sheet = new Sheet(20, 20);
        sheet.FreezeRowCols(1, 1, 1, 1);

        var cut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowColHeadings, false);
            parameters.Add(p => p.ShowRowHeadings, false);
        });

        cut.FindAll("div.bds-pane-row").Count.Should().Be(3);
        cut.FindAll("div.bds-frozen-top").Count.Should().Be(1);
        cut.FindAll("div.bds-frozen-bottom").Count.Should().Be(1);
    }

    [Test]
    public void Datasheet_Autofill_Respects_ReadOnly_State()
    {
        var sheet = new Sheet(4, 4);
        sheet.Selection.Set(new Region(0, 0));

        var editableCut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowColHeadings, false);
            parameters.Add(p => p.ShowRowHeadings, false);
            parameters.Add(p => p.UseAutoFill, true);
            parameters.Add(p => p.IsReadOnly, false);
        });
        editableCut.FindAll("#auto-filler").Count.Should().BeGreaterThan(0);

        var readOnlyCut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowColHeadings, false);
            parameters.Add(p => p.ShowRowHeadings, false);
            parameters.Add(p => p.UseAutoFill, true);
            parameters.Add(p => p.IsReadOnly, true);
        });
        readOnlyCut.FindAll("#auto-filler").Count.Should().Be(0);
    }

    [Test]
    public void Datasheet_Formula_Dependency_Layer_Is_Gated_By_Parameter()
    {
        var sheet = new Sheet(4, 4);

        var hiddenCut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowFormulaDependents, false);
        });
        hiddenCut.FindAll("#svg_layer").Count.Should().Be(0);

        var visibleCut = RenderComponent<Datasheet>(parameters =>
        {
            parameters.Add(p => p.Sheet, sheet);
            parameters.Add(p => p.ShowFormulaDependents, true);
        });
        visibleCut.FindAll("#svg_layer").Count.Should().BeGreaterThan(0);
    }
}
