@page "/ConditionalFormatting"
@using BlazorDatasheet.Data
@using BlazorDatasheet.Render
<PageTitle>Conditional Formatting</PageTitle>

<h1>Conditional Formatting</h1>

<p>
    This example shows two conditional formats applied to the cells in the sheet

    <ol>
        <li>Colored numbers: less than zero and the cell background is blue, greater than zero and the cell background is red</li>
        <li>Secret: If the cell's value contains the text secret, the cell's format uses a green check icon</li>
    </ol>
</p>

<Datasheet Sheet="sheet"></Datasheet>

@code {

    private Sheet sheet;

    protected override void OnInitialized()
    {
        var cells = new Cell[4, 1] { { new Cell(0) }, { new Cell(-100) }, { new Cell(20) }, { new Cell("secret") } };
        var formatTick = new ConditionalFormat(
            c => c.GetValue() != null && c.GetValue<string>().Contains("secret"),
            c => new Format()
            {
                Icon = Icons.Icons.CheckIcon,
                IconColor = "#428739"
            });
        var coloredNums = new ConditionalFormat(
            c => c.GetValue() != null && c.GetValue<double?>() != null,
            c =>
            {
                var f = Format.Default;
                var val = c.GetValue<double?>();
                if (val.HasValue)
                {
                    if (val == 0)
                        f.BackgroundColor = "#ffffff";
                    else if (val > 0)
                        f.BackgroundColor = "#f5adab";
                    else
                        f.BackgroundColor = "#abecf5";
                }
                return f;
            });

        sheet = new Sheet(4, 1, cells);
        sheet.ConditionalFormatting.Register("tick", formatTick);
        sheet.ConditionalFormatting.Register("numbers", coloredNums);
        sheet.ConditionalFormatting.Apply("tick", sheet.Range);
        sheet.ConditionalFormatting.Apply("numbers", sheet.Range);

        base.OnInitialized();
    }

}