@using Microsoft.FluentUI.AspNetCore.Components
@using BlazorDatasheet.SharedPages.Components
@inherits LayoutComponentBase

<FluentHeader>
    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <div>Blazor datasheet</div>
    </div>
</FluentHeader>

<div class="main-content">
    <NavMenu/>
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
</div>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/> 