.vars {
    --sheet-font-weight: normal;
    --sheet-font-size: 0.75rem;
    --sheet-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Arial, sans-serif;
}

.vars[theme='default'] {
    --sheet-foreground-color: #454545;
    --sheet-bg-color: #ffffff;
    --sheet-border-style: 1px solid #c5c5c5;
    --row-header-bg-color: #fafafa;
    --col-header-bg-color: #fafafa;
    --headers-foreground-color: #5c5a5a;
    --active-header-bg-color: #ededed;
    --icon-color: #000000;
    --shadow-overlay-color: grey;
    --invalid-cell-foreground-color: #ff0000;
    --selection-bg-color: rgba(163, 188, 213, 0.18);
    --selection-border-color: #0998e5;
    --cell-highlight-bg-color: #a9e5b6;
    --num-highlight-color: #43a3b4;
    --string-highlight-color: #1a6206;
    --sheet-menu-bg-color: #f1f1f1;
}

.vars[theme='dark'] {
    --sheet-foreground-color: #a9a9a9;
    --sheet-bg-color: #262626;
    --sheet-border-style: 1px solid #3f3f3f;
    --row-header-bg-color: #2d2d2d;
    --col-header-bg-color: #2d2d2d;
    --headers-foreground-color: #a4a4a4;
    --active-header-bg-color: #343434;
    --icon-color: #000000;
    --shadow-overlay-color: #000000;
    --invalid-cell-foreground-color: #d71b1b;
    --selection-bg-color: rgba(83, 101, 121, 0.18);
    --selection-border-color: #1c6f9a;
    --cell-highlight-bg-color: #456b4d;
    --num-highlight-color: #d4d6ec;
    --string-highlight-color: #79a16a;
    --sheet-menu-bg-color: #333;
}

.active-sheet {
    border: none;
}

.inactive-sheet {
    border: none;
}

.sheet {
    background: var(--sheet-bg-color);
    font-size: var(--sheet-font-size);
    box-sizing: border-box;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: var(--sheet-font-family), serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: var(--sheet-font-weight);
}

.sheet-fixed-height {
    overflow-y: scroll;
}

.sheet-fixed-width {
    overflow-x: scroll;
}

.sheet-dynamic-height {

}

.sheet-cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.sheet-row {
    padding: 0;
}

.col-sticky {
    box-shadow: 0 4px 6px -6px var(--shadow-overlay-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

.col-nonsticky {
    border-bottom: var(--sheet-border-style);
}

.row-sticky {
    position: sticky;
    left: 0;
    z-index: 1;
}

.invalid-cell {
    color: var(--invalid-cell-foreground-color) !important;
}

.cell {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.column-head {
    background: var(--col-header-bg-color) !important;
    border-right: var(--sheet-border-style);
    border-top: var(--sheet-border-style);
    color: var(--headers-foreground-color);
    height: 100%;
}

.column-active {
    background: var(--active-header-bg-color) !important;
}

.row-head {
    background: var(--row-header-bg-color) !important;
    border-right: var(--sheet-border-style);
    border-bottom: var(--sheet-border-style);
    border-left: var(--sheet-border-style);
    padding-right: 5px;
    padding-left: 5px;
    align-content: center;
    color: var(--headers-foreground-color);
}

.row-active {
    background: var(--active-header-bg-color) !important;
}

.unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.number-highlight {
    color: var(--num-highlight-color)
}

.string-highlight {
    color: var(--string-highlight-color)
}

.default-highlight {
    color: var(--sheet-foreground-color)
}

.editor-overlay {
    box-shadow: 0px 0px 4px var(--shadow-overlay-color);
}