.vars[theme='default'] {
    --sheet-foreground-color: #5c5c5c;
    --sheet-bg-color: #ffffff;
    --sheet-border-style: 1px solid lightgray;
    --row-header-bg-color: #fafafa;
    --col-header-bg-color: #fafafa;
    --headers-foreground-color: #000000;
    --active-header-bg-color: #ececec;
    --sheet-font-weight: normal;
    --icon-color: #000000;
    --shadow-overlay-color: grey;
    --invalid-cell-foreground-color: #ff0000;
    --selection-bg-color: rgba(163, 188, 213, 0.18);
    --selection-border-color: #0998e5;
    --cell-highlight-bg-color: #a9e5b6;
}

.vars[theme='dark'] {
    --sheet-foreground-color: #a9a9a9;
    --sheet-bg-color: #262626;
    --sheet-border-style: 1px solid #3f3f3f;
    --row-header-bg-color: #2d2d2d;
    --col-header-bg-color: #2d2d2d;
    --headers-foreground-color: #a4a4a4;
    --active-header-bg-color: #343434;
    --sheet-font-weight: normal;
    --icon-color: #000000;
    --shadow-overlay-color: #000000;
    --invalid-cell-foreground-color: #d71b1b;
    --selection-bg-color: rgba(83, 101, 121, 0.18);
    --selection-border-color: #1c6f9a;
    --cell-highlight-bg-color: #456b4d;
}

.active-sheet {
    border: none;
}

.inactive-sheet {
    border: none;
}

.sheet {
    background: var(--sheet-bg-color);
    font-size: .8rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border-left: var(--sheet-border-style);
    border-top: var(--sheet-border-style);
    white-space: nowrap;
}

.sheet-fixed-height {
    overflow-y: scroll;
    overflow-x: auto;
}

.sheet-dynamic-height {

}

.sheet-cell {
    display: inline-block;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    border-right: var(--sheet-border-style);
    border-bottom: var(--sheet-border-style);
    -webkit-user-select: none;
}

.sheet-row {
    padding: 0;
    height: 25px;
}

.col-sticky {
    box-shadow: 0 4px 6px -6px var(--shadow-overlay-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

.row-sticky {
    position: sticky;
    left: 0;
    z-index: 1;
}

.invalid-cell {
    color: var(--invalid-cell-foreground-color) !important;
}

.cell {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.column-head {
    background: var(--col-header-bg-color) !important;
    color: var(--headers-foreground-color);
}

.column-active {
    background: var(--active-header-bg-color) !important;
    border-bottom-width: 1px;
    border-bottom-color: var(--selection-border-color);
    border-bottom-style: solid;
}

.row-head {
    background: var(--row-header-bg-color) !important;
    border-right: var(--sheet-border-style);
    padding-right: 5px;
    padding-left: 5px;
    align-content: center;
    color: var(--headers-foreground-color);
}

.row-active {
    background: var(--active-header-bg-color) !important;
    border-right-width: 1px;
    border-right-color: var(--selection-border-color);
    border-right-style: solid;
}

