@using BlazorDatasheet.Interfaces
@using System.Text
@using BlazorDatasheet.Data
@using BlazorDatasheet.Formats
@using BlazorDatasheet.Util
@implements IHandleEvent

<!-- The cell content -->

@if (true)
{
    var conditionalFormatting = Sheet.ConditionalFormatting.GetFormatResult(Row, Col);

    CellFormat? format = Sheet!.GetFormat(Row, Col)?.Clone();
    if (format != null)
        format.Merge(conditionalFormatting);
    else if (conditionalFormatting != null)
        format = conditionalFormatting;
    <div
        class="cell"
        style="
            @CalculateCellFormattingStyle(format, IsValid)">
        @if (format?.Icon != null)
        {
            <div style="margin-right:2px; float:left; color: @(format.IconColor ?? "var(--icon-color)");">@format.Icon</div>
        }
        @ItemTemplate
    </div>
}

@code {

    [Parameter]
    public int ColSpan { get; set; } = 1;

    [Parameter]
    public int RowSpan { get; set; } = 1;

    [Parameter]
    public int Row { get; set; }
    
    [Parameter]
    public int Col { get; set; }
    
    [Parameter]
    public bool IsValid { get; set; }

    [Parameter]
    public RenderFragment ItemTemplate { get; set; }

    [Parameter, EditorRequired]
    public bool IsDirty { get; set; }

    [Parameter]
    public int VisibleRowOffset { get; set; }

    [Parameter]
    public Sheet Sheet { get; set; }

    private string CalculateCellFormattingStyle(CellFormat? format, bool isCellValid)
    {
        var foreGroundVar = isCellValid ? "--sheet-foreground-color" : "--invalid-cell-foreground-color";
        var sb = new StringBuilder();
        sb.Append($"background-color:{format?.BackgroundColor ?? "var(--sheet-bg-color)"};");
        sb.Append($"color:{format?.ForegroundColor ?? $"var({foreGroundVar})"};");
        sb.Append($"font-weight:{format?.FontWeight ?? "var(--sheet-font-weight)"};");

        if (!string.IsNullOrWhiteSpace(format?.TextAlign))
        {
            sb.Append($"text-align: {format.TextAlign};");
        }


        return sb.ToString();
    }

    protected override bool ShouldRender()
    {
        return IsDirty;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        //Console.WriteLine($"Cell rendered {Row}. {Col}. Dirty?" + IsDirty);
        base.OnAfterRender(firstRender);
    }

    Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object? arg) => callback.InvokeAsync(arg);

}