@using BlazorDatasheet.Model

<div
    class="cell-renderer @(IsSelected ? "selected" : "")">
    @Cell?.RawData
</div>

@code {

    [Parameter]
    public Cell Cell { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

}