@using System.Globalization
@inherits BaseRenderer

<div style="color: @(ValidationError ? "red" : "black")">@FormattedNumber</div>

@code {
    private bool ValidationError => !Double.TryParse(Cell.Value, out double res);

    private string FormattedNumber
    {
        get
        {
            if (Double.TryParse(Cell.Value, out double res))
            {
                if (String.IsNullOrEmpty(Cell.Formatting.StringFormat))
                    return res.ToString(CultureInfo.CurrentCulture);
                else
                    return res.ToString(Cell.Formatting.StringFormat, CultureInfo.CurrentCulture);
            }

            return Cell.Value;
        }
    }

}