@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Layout
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.Render.Layout

<div style="display: flex; flex-direction: column">
    @if (FrozenTopCount > 0)
    {
        <div style="position: sticky; @GetStickyPositionInfo(); z-index: 4;">
            <RowHeadingRenderer
                Sheet="_sheet"
                ViewRegion="new Region(_viewRegion.Top, FrozenTopCount - 1, 0, 0)">
                @ChildContent(context)
            </RowHeadingRenderer>
        </div>
    }
    <div class="sheet-row-head-container" style="z-index: 2; position: sticky; left: 0;">
        <Virtualise2D
            LayoutProvider="_rowLayoutProvider"
            ViewRegion="new Region(_viewRegion.Top + FrozenTopCount, _viewRegion.Bottom - FrozenBottomCount, 0, 0)">
            <GridItemTemplate>
                <div class="row-head sheet-cell">
                    @ChildContent(context.row)
                </div>
            </GridItemTemplate>
        </Virtualise2D>
    </div>

    @if (FrozenBottomCount > 0)
    {
        <div style="position: sticky; bottom: 0; z-index: 4">
            <RowHeadingRenderer
                Sheet="_sheet"
                ViewRegion="new Region(_viewRegion.Bottom - FrozenTopCount + 1, _viewRegion.Bottom, 0, 0)">
                @ChildContent(context)
            </RowHeadingRenderer>
        </div>
    }
</div>

@code {

    [Parameter] public int FrozenTopCount { get; set; }

    [Parameter] public int FrozenBottomCount { get; set; }

    [Parameter, EditorRequired] public Sheet? Sheet { get; set; }

    [Parameter] public Region? ViewRegion { get; set; }

    [Parameter] public bool AlternateAxisHeadingsShown { get; set; }

    [Parameter, EditorRequired] public RenderFragment<int> ChildContent { get; set; } = null!;

    private Sheet _sheet = new(1, 1);
    private Region _viewRegion = new(0, 0);
    private IGridLayoutProvider _rowLayoutProvider = new EmptyLayoutProvider();

    protected override void OnParametersSet()
    {
        if (Sheet != _sheet)
        {
            _sheet = Sheet ?? new(0, 0);
            _rowLayoutProvider = new RowHeadingLayoutProvider(_sheet);
            StateHasChanged();
        }

        if (ViewRegion != _viewRegion)
        {
            _viewRegion = ViewRegion ?? _sheet.Region;
        }

        base.OnParametersSet();
    }

    private string GetStickyPositionInfo()
    {
        return $"top: {(AlternateAxisHeadingsShown ? _sheet.Columns.HeadingHeight : 0)}px;";
    }

}