@using BlazorDatasheet.Model
@inherits BaseRenderer

<div
    class="cell-renderer @(IsSelected ? "selected" : "")">
    @Value
</div>

@code {

    [Parameter]
    public bool IsSelected { get; set; }

}