@page "/"
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Server2.Components.Toolbar

<PageTitle>Home</PageTitle>

@if (_datasheet != null)
{
    <DatasheetToolbar Sheet="_sheet" Datasheet="_datasheet"/>
}

<div style="width: 600px; height: 400px; overflow: scroll;">
    <Datasheet Sheet="_sheet" @ref="_datasheet"/>
</div>

@code{

    private Sheet _sheet = null!;
    private Datasheet? _datasheet;

    protected override void OnInitialized()
    {
        _sheet = new Sheet(100, 5);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // Force the toolbar to render as it takes the datasheet ref
        // as a parameter.
        if(firstRender)
            StateHasChanged();
    }

}