@using System.Text
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Layout
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.Events
@using BlazorDatasheet.Services
@using Microsoft.JSInterop
@implements IDisposable
@inject IJSRuntime JS;
@inject IWindowEventService WindowEventService
@inherits SheetComponentBase

@if (!Sheet.Editor.IsEditing && Sheet.Selection.ActiveRegion != null)
{
    <!-- render dragger (bottom right corner) -->
    <div id="auto-filler"
         class="unselectable auto-fill"
         @onpointerdown="DraggerMouseDown"
         @onpointerup="DraggerMouseUp"
         style="@GetDraggerStyleString();cursor:crosshair;pointer-events: all;">
    </div>
}


<!-- drag preview -->
@if (_isDragging && _dragPreviewRegion != null)
{
    <BoxOverlayRenderer
        BackgroundVisible="false"
        BorderThickness="1"
        X="GetLeft(_dragPreviewRegion)"
        Y="GetTop(_dragPreviewRegion)"
        Width="GetWidth(_dragPreviewRegion)"
        Height="GetHeight(_dragPreviewRegion)"/>
}

@code {

    [Parameter, EditorRequired] public Sheet Sheet { get; set; } = null!;

    [Parameter, EditorRequired] public CellLayoutProvider CellLayoutProvider { get; set; } = null!;

    [Parameter, EditorRequired] public SheetPointerInputService? InputService { get; set; }


    [Parameter] public EventCallback<SelectionExpandedEventArgs> SelectionExpanded { get; set; }

    private bool _isDragging = false;

    // Document start position of the pointer
    private Point2d _dragStartDocumentPosition = new Point2d();
    private IRegion? _dragPreviewRegion;

    private double GetLeft(IRegion region) => CellLayoutProvider.ComputeLeftPosition(region);
    private double GetTop(IRegion region) => CellLayoutProvider.ComputeTopPosition(region);
    private double GetWidth(IRegion region) => CellLayoutProvider.ComputeWidth(region);
    private double GetHeight(IRegion region) => CellLayoutProvider.ComputeHeight(region);

    protected override void OnParametersSet()
    {
        if (Sheet != null)
        {
            Sheet.Selection.SelectingChanged -= SelectionOnSelectingChanged;
            Sheet.Selection.SelectingChanged += SelectionOnSelectingChanged;

            Sheet.Selection.SelectionChanged -= SelectionOnSelectionChanged;
            Sheet.Selection.SelectionChanged += SelectionOnSelectionChanged;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await WindowEventService.RegisterMouseEvent("mousemove", HandleWindowMouseMove);
            await WindowEventService.RegisterMouseEvent("mouseup", HandleWindowMouseUp);
        }
    }

    private async Task<bool> HandleWindowMouseUp(MouseEventArgs arg)
    {
        if (!_isDragging || _dragPreviewRegion == null)
            return false;

        await SelectionExpanded.InvokeAsync(new SelectionExpandedEventArgs(
            Sheet.Selection.ActiveRegion!.Clone(),
            _dragPreviewRegion.Clone()));

        _isDragging = false;
        _dragPreviewRegion = null;

        return true;
    }

    private Task<bool> HandleWindowMouseMove(MouseEventArgs e)
    {
        if (!_isDragging)
            return Task.FromResult(false);

        if (Sheet.Selection.ActiveRegion == null)
            return Task.FromResult(false);

        var dx = e.PageX - _dragStartDocumentPosition.X;
        var dy = e.PageY - _dragStartDocumentPosition.Y;

        if (Math.Abs(dx) < 5 && Math.Abs(dy) < 5)
            return Task.FromResult(true);

        var selRect = CellLayoutProvider.ComputeRect(Sheet.Selection.ActiveRegion);
        var sheetX = selRect.X + selRect.Width + dx;
        var sheetY = selRect.Y + selRect.Height + dy;
        var cellAtMouse = CellLayoutProvider.ComputeCell(sheetX, sheetY);

        if (Sheet.Selection.ActiveRegion.Contains(cellAtMouse))
            _dragPreviewRegion = CalculateContractRegion(dx, dy, cellAtMouse);
        else
            _dragPreviewRegion = CalculateExpandRegion(sheetX, sheetY, cellAtMouse);

        _dragPreviewRegion = Sheet.Region.GetIntersection(_dragPreviewRegion);

        this.StateHasChanged();

        return Task.FromResult(true);
    }

    private IRegion CalculateContractRegion(double dx, double dy, CellPosition cellMousePosition)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return new Region(cellMousePosition.row, cellMousePosition.col);

        var left = Sheet.Selection.ActiveRegion.Left;
        var top = Sheet.Selection.ActiveRegion.Top;
        var axis = Math.Abs(dx) >= Math.Abs(dy) ? Axis.Col : Axis.Row;
        var right = axis == Axis.Col ? cellMousePosition.col : Sheet.Selection.ActiveRegion.Right;
        var bottom = axis == Axis.Row ? cellMousePosition.row : Sheet.Selection.ActiveRegion.Bottom;
        return new Region(top, bottom, left, right);
    }

    private IRegion? CalculateExpandRegion(double sheetX, double sheetY, CellPosition cellMousePosition)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return null;

        var selRect = CellLayoutProvider.ComputeRect(Sheet.Selection.ActiveRegion);
        var axis = GetExpansionAxis(sheetX, sheetY, selRect);

        var expandTo = axis == Axis.Col ? new Region(Sheet.Selection.ActiveRegion.Bottom, cellMousePosition.col) : new Region(cellMousePosition.row, Sheet.Selection.ActiveRegion.Left);

        var expandedRegion = Sheet.Selection.ActiveRegion.GetBoundingRegion(expandTo);
        return expandedRegion;
    }

    private Axis GetExpansionAxis(double sheetX, double sheetY, Rect selectionRect)
    {
        var containsX = sheetX >= selectionRect.X && sheetX <= selectionRect.X + selectionRect.Width;
        var containsY = sheetY >= selectionRect.Y && sheetY <= selectionRect.Y + selectionRect.Height;

        if (containsY && !containsX)
            return Axis.Col;

        if (containsX && !containsY)
            return Axis.Row;

        var p = new Point2d(sheetX, sheetY);

        var closestCorner = GetCorners(selectionRect)
            .Select<Point2d, (Point2d p, double dist)>(x => ((x, GetDistSq(x, p))))
            .MinBy(x => x.dist);

        var dx = sheetX - closestCorner.p.X;
        var dy = sheetY - closestCorner.p.Y;

        if (Math.Abs(dx) >= Math.Abs(dy))
            return Axis.Col;
        else
            return Axis.Row;
    }

    private double GetDistSq(Point2d p1, Point2d p2)
    {
        return Math.Pow(p1.X - p2.X, 2) + Math.Pow(p1.Y - p2.Y, 2);
    }

    private List<Point2d> GetCorners(Rect rect)
    {
        return new List<Point2d>()
        {
            new Point2d(rect.X, rect.Y),
            new Point2d(rect.X + rect.Width, rect.Y),
            new Point2d(rect.X + rect.Width, rect.Y + rect.Height),
            new Point2d(rect.X, rect.Y + rect.Height),
        };
    }

    private Direction GetDirection(double dx, double dy)
    {
        if (dx >= dy)
        {
            if (dx > 0)
                return Direction.Right;
            if (dx < 0)
                return Direction.Left;
            return Direction.None;
        }
        else
        {
            if (dy > 0)
                return Direction.Down;
            if (dy < 0)
                return Direction.Up;
        }

        return Direction.None;
    }


    private void SelectionOnSelectionChanged(object? sender, IEnumerable<IRegion> e)
    {
        StateHasChanged();
    }

    private void SelectionOnSelectingChanged(object? sender, IRegion? e)
    {
        StateHasChanged();
    }

    private Task DraggerMouseDown(PointerEventArgs e)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return Task.CompletedTask;

        _isDragging = true;

        _dragStartDocumentPosition = new Point2d(e.PageX, e.PageY);
        return Task.CompletedTask;
    }

    private void DraggerMouseUp(PointerEventArgs obj)
    {
        // if the user mouses up on the dragger (which doesn't move)
        // then we should just cancel out of the drag
        _isDragging = false;
        _dragPreviewRegion = null;
        this.StateHasChanged();
    }

    private async void PointerMouseUp(object? sender, SheetPointerEventArgs? arg)
    {
        if (_isDragging && _dragPreviewRegion != null && Sheet.Selection.ActiveRegion != null)
            await SelectionExpanded.InvokeAsync(new SelectionExpandedEventArgs(Sheet.Selection.ActiveRegion.Clone(), _dragPreviewRegion.Clone()));

        _isDragging = false;
        _dragPreviewRegion = null;
        this.StateHasChanged();
    }

    public void Dispose()
    {
    }

    private string GetDraggerStyleString()
    {
        var region = Sheet.Region.GetIntersection(Sheet.Selection.ActiveRegion ?? Sheet.Selection.SelectingRegion);
        if (region == null)
            return "display:none;";

        var x = CellLayoutProvider.ComputeLeftPosition(region.Right + 1);
        var y = CellLayoutProvider.ComputeTopPosition(region.Bottom + 1);

        var w = 6d;
        var h = 6d;
        var sb = new StringBuilder();
        sb.Append($"display:block;position:absolute;");
        sb.Append($"left:{x - w / 2}px; top:{y - w / 2}px;");
        sb.Append($"width:{w}px;height:{h}px;");
        sb.Append("background:var(--selection-border-color);");
        sb.Append("border:1px solid var(--sheet-bg-color);");
        return sb.ToString();
    }

}