@using System.ComponentModel
@using System.Text
@using BlazorDatasheet.Render
@inherits SheetComponentBase

<!--Renders a box at a particular row/column with a width & height -->

<div style="@GetSizeStyleString(); box-sizing: border-box; position: absolute; pointer-events: none;"></div>

@code {

    [Parameter] public double X { get; set; }

    [Parameter] public double Y { get; set; }

    [Parameter] public double Width { get; set; }

    [Parameter] public double Height { get; set; }

    [Parameter] public int ZIndex { get; set; }

    [Parameter] public double BorderThickness { get; set; }

    [Parameter] public string BackgroundStyle { get; set; }

    [Parameter] public string BorderColor { get; set; } = "var(--selection-border-color);";

    [Parameter] public bool BackgroundVisible { get; set; }

    [Parameter] public string BorderStyle { get; set; } = "solid";

    private string GetSizeStyleString()
    {
        var strBuilder = new StringBuilder();

        strBuilder.Append($"left:{X-1}px;");
        strBuilder.Append($"top:{Y-1}px;");
        strBuilder.Append($"width:{Width+1}px;");
        strBuilder.Append($"height:{Height+1}px;");
        strBuilder.Append($"position:relative;");
        strBuilder.Append($"z-index:{ZIndex};");
        if (BorderThickness != 0)
        {
            strBuilder.Append($"border: {BorderThickness}px {BorderStyle} {BorderColor};");
        }

        if (BackgroundVisible)
        {
            strBuilder.Append(BackgroundStyle);
        }

        var style = strBuilder.ToString();
        return style;
    }

}