.active-sheet {
    border: 1px solid gray;
}

.inactive-sheet {
    border: 1px solid lightgray;
}

.sheet {
    font-size: .8rem;
    box-sizing: border-box;
    border-spacing: 0;
    position:relative;
    white-space: nowrap;
    display: inline-block;
}

.sheet-fixed-height{
    overflow-x: hidden;
    overflow-y: auto;
}

.sheet-dynamic-height{

}

.sheet-cell {
    width: 6.6rem;
    max-width: 6.6rem;
    min-width: 6.6rem;
    height: calc(1.5rem + 4px);
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.invalid-cell {
    color: red !important;
    background: red;
}

.cell-selected {
    background: rgba(199, 225, 255, 0.95) !important;
}

.cell {
    width: 100%;
    height: 100%;
    padding: 2px 2px 2px 3px;
}

.column-head {
    background: #fafafa !important;
    border-bottom: 1px solid lightgray;
    padding: 2px 2px 2px 3px;
}

.column-active {
    background: #f4f4f4 !important;
    border-bottom: 1px solid #3d87f1 !important;
}

.row-head {
    background: #fafafa !important;
    border-right: 1px solid lightgray;
}

.row-active {
    background: #f4f4f4 !important;
    border-right: 1px solid #3d87f1 !important;
}

