@page "/ConditionalFormatting"
@using BlazorDatasheet.Data
@using BlazorDatasheet.Formats.DefaultConditionalFormats
@using BlazorDatasheet.Render
<PageTitle>Conditional Formatting</PageTitle>

<h1>Conditional Formatting</h1>

<p>
    This example shows two conditional formats applied to the cells in the sheet

    <ol>
        <li>Colored numbers: less than zero and the cell background is blue, greater than zero and the cell background is red</li>
        <li>Secret: If the cell's value contains the text secret, the cell's format uses a green check icon</li>
    </ol>
</p>

<Datasheet Sheet="sheet"></Datasheet>

@code {

    private Sheet sheet;

    protected override void OnInitialized()
    {
        sheet = new Sheet(100, 5);
        var cf = new NumberScaleConditionalFormat();


        sheet.ConditionalFormatting.Apply(cf);
        
        base.OnInitialized();
    }

}