@page "/"
@using BlazorDatasheet.Model
@using BlazorDatasheet.Server.Data
@using Range = BlazorDatasheet.Model.Range
@using BlazorDatasheet.Icons

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<Datasheet Sheet="Sheet"></Datasheet>

@code{

    private Sheet Sheet;
    private List<Person> People { get; set; }

    protected override void OnInitialized()
    {
        People = new List<Person>()
        {
            new Person() { Id = 0, Age = 32, FirstName = "John", LastName = "Citizen" },
            new Person() { Id = 1, Age = 49, FirstName = "Albert", LastName = "Rogers" },
            new Person() { Id = 2, Age = 106, FirstName = "Wendall", LastName = "Palmer" },
        };

        string[] keys = new string[4] { "Id", "Age", "FirstName", "LastName" };


        var rows = People.Count;
        var cols = keys.Length;
        Cell[,] cells = new Cell[rows, cols];
        for (int r = 0; r < rows; r++)
        {
            var person = People[r];
            for (int c = 0; c < cols; c++)
                cells[r, c] = new Cell()
                {
                    Data = person,
                    Key = keys[c],
                    Type = "text"
                };
        }
        Sheet = new Sheet(rows, cols, cells);

        var valFormat = new ConditionalFormat(((cell, cells) =>
        {
            Console.WriteLine("cF");
            var parseVal = double.TryParse(cell.Value, out double val);
            if (!parseVal)
                return false;
            if (val > 10)
                return true;
            return false;
        }), new Format()
        {
            BackgroundColor = "#ff0000",
            Icon = Icons.CheckIcon
        });

        Sheet.Cells[1, 1].Formatting.StringFormat = "N3";
        Sheet.Cells[1, 1].Type = "number";
        Sheet.RegisterConditionalFormat("g10", valFormat);
        Sheet.ApplyConditionalFormat("g10", new Range(0, 0));
    }

}