@page "/"
@using BlazorDatasheet.Model
@using BlazorDatasheet.Server.Data
@using Range = BlazorDatasheet.Model.Range
@using BlazorDatasheet.Icons
@using BlazorDatasheet.ObjectEditor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<p>Here is out ObjectEditor with properties across the columns</p>
<Datasheet Sheet="Sheet"></Datasheet>

@code{

    private Sheet Sheet;
    private List<Person> People { get; set; }

    protected override void OnInitialized()
    {
        People = new List<Person>()
        {
            new Person() { Id = 0, Age = 32, FirstName = "John", LastName = "Citizen" },
            new Person() { Id = 1, Age = 49, FirstName = "Albert", LastName = "Rogers" },
            new Person() { Id = 2, Age = 106, FirstName = "Wendall", LastName = "Palmer" },
        };
        
        var random = new Random();
        for (int i = 0; i < 10000; i++)
        {
            People.Add(new Person() { Id = i, Age = random.NextInt64(100), FirstName = "Person", LastName = "Person" });
        }

        var builder1 = new ObjectEditorBuilder<Person>(People, GridDirection.PropertiesAcrossColumns);
        builder1.AutogenerateProperties(true)
                .WithProperty(x => x.FirstName, pd =>
                {
                    pd.Heading = "First Name";
                    pd.Setter = (person, s) => { person.FirstName = s; };
                    pd.Format = new Format()
                    {
                        FontWeight = "bold",
                        ForegroundColor = "#006600",
                        BackgroundColor = "#fafafa"
                    };
                })
                .WithProperty(x => x.Id, pd => { pd.Heading = "Person ID"; });
        
        var editor1 = builder1.Build();


        Sheet = editor1.Sheet;
    }

}