@using System.Text
@using BlazorDatasheet.Core.Commands.Data
@using BlazorDatasheet.Core.Data
@using BlazorDatasheet.Core.Events
@using BlazorDatasheet.Core.Layout
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.Extensions
@using BlazorDatasheet.Services
@using Microsoft.JSInterop
@inherits Layer
@implements IAsyncDisposable
@inject IJSRuntime Js;

@if (!Sheet.Editor.IsEditing && Sheet.Selection.ActiveRegion != null)
{
    <!-- render dragger (bottom right corner) -->
    <div id="auto-filler"
         @ref="_draggerElement"
         class="unselectable auto-fill"
         @onpointerdown="DraggerMouseDown"
         @onpointerup="DraggerMouseUp"
         style="@GetDraggerStyleString();cursor:crosshair;pointer-events: all;">
    </div>
}


<!-- drag preview -->
@if (_isDragging && _dragPreviewRegion != null)
{
    <BoxOverlayRenderer
        BackgroundVisible="false"
        BorderThickness="2"
        BorderStyle="dashed"
        X="GetLayerColumnX(_dragPreviewRegion.Left)"
        Y="GetLayerRowY(_dragPreviewRegion.Top)"
        Width="Sheet.Columns.GetVisualWidthBetween(_dragPreviewRegion.Left, _dragPreviewRegion.Right + 1)"
        Height="Sheet.Rows.GetVisualHeightBetween(_dragPreviewRegion.Top, _dragPreviewRegion.Bottom + 1)"/>
}

@code {

    [Parameter] public EventCallback<bool> AutofillDraggingChanged { get; set; }

    private bool _isDragging;

    // Document start position of the pointer
    private Point2d _dragStartDocumentPosition = new();
    private Point2d _dragStartScrollableOffset = new();
    private MouseEventArgs? _lastDragMouseEvent;
    private IRegion? _dragPreviewRegion;
    private CellLayoutProvider _cellLayoutProvider = new(new Sheet(0, 0));
    private IWindowEventService _windowEventService = null!;
    private IJSObjectReference? _module;
    private ElementReference _draggerElement;

    protected override void OnInitialized()
    {
        _windowEventService = new WindowEventService(Js);
        base.OnInitialized();
    }

    protected override void OnSheetChange(Sheet newSheet, Sheet oldSheet)
    {
        oldSheet.Selection.SelectionChanged -= OnSelectionChanged;
        newSheet.Selection.SelectionChanged += OnSelectionChanged;
        _cellLayoutProvider = new CellLayoutProvider(newSheet);
    }

    protected override void OnViewRegionChange(Region newRegion, Region? oldRegion)
    {
        if (!_isDragging || _lastDragMouseEvent == null)
            return;

        _ = InvokeAsync(async () =>
        {
            await UpdateDragPreviewFromMouseAsync(_lastDragMouseEvent);
            StateHasChanged();
        });
    }

    private void OnSelectionChanged(object? sender, SelectionChangedEventArgs args)
    {
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await Js.InvokeAsync<IJSObjectReference>("import",
                "./_content/BlazorDatasheet/Render/Layers/AutofillLayer.razor.js");

            await _windowEventService.RegisterMouseEvent("mousemove", HandleWindowMouseMove, 50);
            await _windowEventService.RegisterMouseEvent("mouseup", HandleWindowMouseUp);
        }
    }

    private async Task<bool> HandleWindowMouseUp(MouseEventArgs arg)
    {
        if (!_isDragging)
            return false;

        if (_dragPreviewRegion != null && Sheet.Selection.ActiveRegion != null)
            Sheet.Commands.ExecuteCommand(new AutoFillCommand(Sheet.Selection.ActiveRegion, _dragPreviewRegion.Clone()));

        _dragPreviewRegion = null;
        await SetDraggingAsync(false);
        await InvokeAsync(StateHasChanged);

        return true;
    }

    private async Task<bool> HandleWindowMouseMove(MouseEventArgs e)
    {
        if (!_isDragging)
            return false;

        _lastDragMouseEvent = e;
        await UpdateDragPreviewFromMouseAsync(e);
        await InvokeAsync(StateHasChanged);

        return true;
    }

    private async Task UpdateDragPreviewFromMouseAsync(MouseEventArgs e)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return;

        var (dx, dy) = await GetAdjustedDragDeltaAsync(e.PageX, e.PageY);

        if (Math.Abs(dx) < 5 && Math.Abs(dy) < 5)
            return;

        var selRect = Sheet.Selection.ActiveRegion.GetRect(Sheet);
        var sheetX = selRect.X + selRect.Width + dx;
        var sheetY = selRect.Y + selRect.Height + dy;
        var cellAtMouse = _cellLayoutProvider.ComputeCell(sheetX, sheetY);

        if (Sheet.Selection.ActiveRegion.Contains(cellAtMouse))
            _dragPreviewRegion = CalculateContractRegion(dx, dy, cellAtMouse);
        else
            _dragPreviewRegion = CalculateExpandRegion(cellAtMouse);

        _dragPreviewRegion = Sheet.Region.GetIntersection(_dragPreviewRegion);
    }

    private async Task<(double dx, double dy)> GetAdjustedDragDeltaAsync(double pageX, double pageY)
    {
        var dx = pageX - _dragStartDocumentPosition.X;
        var dy = pageY - _dragStartDocumentPosition.Y;

        var currentScrollOffset = await GetScrollableOffsetAsync();
        dx += currentScrollOffset.X - _dragStartScrollableOffset.X;
        dy += currentScrollOffset.Y - _dragStartScrollableOffset.Y;

        return (dx, dy);
    }

    private async Task<Point2d> GetScrollableOffsetAsync()
    {
        if (_module == null)
            return new Point2d();

        try
        {
            return await _module.InvokeAsync<Point2d>("getScrollableOffset", _draggerElement);
        }
        catch
        {
            return new Point2d();
        }
    }

    private IRegion CalculateContractRegion(double dx, double dy, CellPosition cellMousePosition)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return new Region(cellMousePosition.row, cellMousePosition.col);

        var left = Sheet.Selection.ActiveRegion.Left;
        var top = Sheet.Selection.ActiveRegion.Top;
        var axis = Math.Abs(dx) >= Math.Abs(dy) ? Axis.Col : Axis.Row;
        var right = axis == Axis.Col ? cellMousePosition.col : Sheet.Selection.ActiveRegion.Right;
        var bottom = axis == Axis.Row ? cellMousePosition.row : Sheet.Selection.ActiveRegion.Bottom;
        return new Region(top, bottom, left, right);
    }

    private IRegion? CalculateExpandRegion(CellPosition cellMousePosition)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return null;

        var axis = GetExpansionAxis(cellMousePosition);

        var expandTo = axis == Axis.Col
            ? new Region(Sheet.Selection.ActiveRegion.Bottom, cellMousePosition.col)
            : new Region(cellMousePosition.row, Sheet.Selection.ActiveRegion.Left);

        return Sheet.Selection.ActiveRegion.GetBoundingRegion(expandTo);
    }

    private Axis GetExpansionAxis(CellPosition cellMousePosition)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return Axis.Row;

        var selection = Sheet.Selection.ActiveRegion;

        var containsX = cellMousePosition.col >= selection.Left && cellMousePosition.col <= selection.Right;
        var containsY = cellMousePosition.row >= selection.Top && cellMousePosition.row <= selection.Bottom;

        if (containsY && !containsX)
            return Axis.Col;

        if (containsX && !containsY)
            return Axis.Row;

        var dx = cellMousePosition.col < selection.Left
            ? selection.Left - cellMousePosition.col
            : cellMousePosition.col - selection.Right;

        var dy = cellMousePosition.row < selection.Top
            ? selection.Top - cellMousePosition.row
            : cellMousePosition.row - selection.Bottom;

        return Math.Abs(dx) >= Math.Abs(dy) ? Axis.Col : Axis.Row;
    }

    private async Task DraggerMouseDown(PointerEventArgs e)
    {
        if (Sheet.Selection.ActiveRegion == null)
            return;

        _dragPreviewRegion = null;
        _dragStartDocumentPosition = new Point2d(e.PageX, e.PageY);
        _dragStartScrollableOffset = await GetScrollableOffsetAsync();
        _lastDragMouseEvent = new MouseEventArgs { PageX = e.PageX, PageY = e.PageY };

        await SetDraggingAsync(true);
    }

    private async Task DraggerMouseUp(PointerEventArgs obj)
    {
        // if the user mouses up on the dragger (which doesn't move)
        // then we should just cancel out of the drag
        _dragPreviewRegion = null;
        await SetDraggingAsync(false);
        StateHasChanged();
    }

    private async Task SetDraggingAsync(bool isDragging)
    {
        if (_isDragging == isDragging)
            return;

        _isDragging = isDragging;

        if (AutofillDraggingChanged.HasDelegate)
            await AutofillDraggingChanged.InvokeAsync(isDragging);
    }

    private string GetDraggerStyleString()
    {
        var region = Sheet.Region.GetIntersection(Sheet.Selection.ActiveRegion ?? Sheet.Selection.SelectingRegion);
        if (region == null)
            return "display:none;";

        var x = GetLayerColumnX(region.Right + 1);
        var y = GetLayerRowY(region.Bottom + 1);

        var w = 8d;
        var h = 8d;
        var sb = new StringBuilder();
        sb.Append("display:block;position:absolute;");
        sb.Append($"left:{x - w / 2}px; top:{y - w / 2}px;");
        sb.Append($"width:{w}px;height:{h}px;");
        sb.Append("background:var(--selection-border-color);");
        sb.Append("border:1px solid var(--sheet-bg-color);");
        return sb.ToString();
    }

    public async ValueTask DisposeAsync()
    {
        Sheet.Selection.SelectionChanged -= OnSelectionChanged;

        await SetDraggingAsync(false);

        try
        {
            if (_module != null)
                await _module.DisposeAsync();
        }
        catch
        {
            // ignored
        }

        await _windowEventService.DisposeAsync();
    }

}
