/* _content/BlazorDatasheet/Datasheet.razor.rz.scp.css */
.active-sheet[b-zet5yo0qob] {
    border: 1px solid gray;
}

.inactive-sheet[b-zet5yo0qob] {
    border: 1px solid lightgray;
}

.sheet[b-zet5yo0qob] {
    font-size: .8rem;
    box-sizing: border-box;
    border-spacing: 0;
    position:relative;
    white-space: nowrap;
    display: inline-block;
}

.sheet-fixed-height[b-zet5yo0qob]{
    overflow-x: hidden;
    overflow-y: auto;
}

.sheet-dynamic-height[b-zet5yo0qob]{

}

.sheet-cell[b-zet5yo0qob] {
    width: 6.6rem;
    max-width: 6.6rem;
    min-width: 6.6rem;
    height: calc(1.5rem + 4px);
    overflow: hidden;
    text-overflow: ellipsis;
    border: var(--sheet-border-style);
    box-sizing: border-box;
    padding: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.invalid-cell[b-zet5yo0qob] {
    color: red !important;
    background: red;
}

.cell[b-zet5yo0qob] {
    width: 100%;
    height: 100%;
    padding: 2px 2px 2px 3px;
}

.column-head[b-zet5yo0qob] {
    background: var(--col-header-bg-color) !important;
    border-bottom: 1px solid lightgray;
    padding: 2px 2px 2px 3px;
}

.column-active[b-zet5yo0qob] {
    background: var(--active-header-bg-color) !important;
    border-bottom: 1px solid #3d87f1 !important;
}

.row-head[b-zet5yo0qob] {
    background: var(--row-header-bg-color) !important;
    border-right: 1px solid lightgray;
}

.row-active[b-zet5yo0qob] {
    background: var(--active-header-bg-color) !important;
    border-right: 1px solid #3d87f1 !important;
}

/* _content/BlazorDatasheet/Edit/DefaultComponents/DateTimeEditorComponent.razor.rz.scp.css */
.date-input[b-0nxgffd6dp] {
    width: calc(100% - 4px);
    border: 1px solid black;
    padding: 0;
    height: calc(100%);
    box-sizing: border-box;
}

.date-input:focus[b-0nxgffd6dp] {
    outline: none;
}
/* _content/BlazorDatasheet/Edit/DefaultComponents/SelectEditorComponent.razor.rz.scp.css */
.text-input[b-k71ijntl8x] {
    width: 100%;
    border: none;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}

.text-input:focus[b-k71ijntl8x] {
    outline: none;
}

.select-list[b-k71ijntl8x] {
    min-width: 10rem;
    z-index: 10;
    border: 1px solid lightgray;
    background: var(--sheet-bg-color);
    position: absolute;
    overflow-y: auto;
    display: block;
    max-height: 7rem;
    border-radius: 4px;
}

.select-item[b-k71ijntl8x] {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
}

.select-item:hover[b-k71ijntl8x] {
    background: #adc4ef;
}
/* _content/BlazorDatasheet/Edit/DefaultComponents/TextEditorComponent.razor.rz.scp.css */
.text-input[b-ogyzqrxhj5] {
    width: 100%;
    border: none;
    padding: 2px;
    height: calc(100%);
    box-sizing: border-box;
}

.text-input:focus[b-ogyzqrxhj5] {
    outline: none;
}
/* _content/BlazorDatasheet/Render/DefaultComponents/SelectRenderer.razor.rz.scp.css */
.dropper[b-fldepj96gs] {
    background: none;
    color:#999999;
    margin: 0;
    padding: 0 2px 0 2px;
    border: none;
}

.dropper:hover[b-fldepj96gs]{
    background: #e1ebff;
}
/* _content/BlazorDatasheet/Render/DefaultComponents/TextRenderer.razor.rz.scp.css */
.cell-renderer[b-7xkejoswml]{
    overflow:hidden;
}
