/* _content/BlazorDatasheet/Edit/DefaultComponents/DateTimeEditorComponent.razor.rz.scp.css */
.date-input[b-0nxgffd6dp] {
    width: calc(100% - 4px);
    border: 1px solid black;
    padding: 0;
    height: calc(100%);
    box-sizing: border-box;
}

.date-input:focus[b-0nxgffd6dp] {
    outline: none;
}
/* _content/BlazorDatasheet/Edit/DefaultComponents/EnumEditorComponent.razor.rz.scp.css */
.text-input[b-iq1kfthgeg] {
    width: 100%;
    border: none;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}

.text-input:focus[b-iq1kfthgeg] {
    outline: none;
}

.select-list[b-iq1kfthgeg] {
    min-width: 10rem;
    z-index: 3;
    border: var(--sheet-border-style);
    background: var(--sheet-bg-color);
    position: absolute;
    overflow-y: auto;
    color: var(--sheet-foreground-color);
    display: block;
    max-height: 7rem;
    border-radius: 4px;
}

.select-item[b-iq1kfthgeg] {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
}

    .select-item:hover[b-iq1kfthgeg],
    .select-item.active[b-iq1kfthgeg] {
        background: var(--selection-bg-color)
    }
/* _content/BlazorDatasheet/Edit/DefaultComponents/HighlightedInput.Razor.rz.scp.css */
/* _content/BlazorDatasheet/Edit/DefaultComponents/SelectEditorComponent.razor.rz.scp.css */
.text-input[b-k71ijntl8x] {
    width: 100%;
    border: none;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}

.text-input:focus[b-k71ijntl8x] {
    outline: none;
}

.select-list[b-k71ijntl8x] {
    min-width: 10rem;
    z-index: 4;
    border: var(--sheet-border-style);
    background: var(--sheet-bg-color);
    position: absolute;
    overflow-y: auto;
    color: var(--sheet-foreground-color);
    display: block;
    max-height: 7rem;
    border-radius: 4px;
}

.select-item[b-k71ijntl8x] {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
}

.select-item:hover[b-k71ijntl8x],
.select-item.active[b-k71ijntl8x] {
    background: var(--selection-bg-color)
}
/* _content/BlazorDatasheet/Edit/DefaultComponents/TextEditorComponent.razor.rz.scp.css */
.text-input[b-ogyzqrxhj5] {
    width: 100%;
    border: none;
    padding: 2px;
    height: calc(100%);
    box-sizing: border-box;
}

.text-input:focus[b-ogyzqrxhj5] {
    outline: none;
}
/* _content/BlazorDatasheet/Render/CaretButton.razor.rz.scp.css */
.dropper[b-n1g2dcs84v] {
    background: none;
    color:#999999;
    margin: 0;
    padding: 0 2px 0 2px;
    border: none;
}

.dropper:hover[b-n1g2dcs84v]{
    background: var(--selection-bg-color);
}
/* _content/BlazorDatasheet/Render/DefaultComponents/SelectRenderer.razor.rz.scp.css */
/* _content/BlazorDatasheet/Render/DefaultComponents/TextRenderer.razor.rz.scp.css */
.cell-renderer[b-7xkejoswml]{
    overflow:hidden;
}
