.text-input {
    width: 100%;
    border: none;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
}

.text-input:focus {
    outline: none;
}

.select-list {
    min-width: 10rem;
    z-index: 3;
    border: var(--sheet-border-style);
    background: var(--sheet-bg-color);
    position: absolute;
    overflow-y: auto;
    color: var(--sheet-foreground-color);
    display: block;
    max-height: 7rem;
    border-radius: 4px;
}

.select-item {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
}

    .select-item:hover,
    .select-item.active {
        background: var(--selection-bg-color)
    }