.highlight-input {
    outline: 0 solid transparent;
    color: transparent;
    caret-color: var(--sheet-foreground-color);
    -webkit-user-modify: read-write-plaintext-only;
}

.highlight-input:focus {
    outline: 0 solid transparent;
}

.highlight-input, .highlight-result {
    height: 100%;
    min-width: 100%;
    padding: 2px 5px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    white-space: pre;
    z-index: 2;
}

.highlight-result {
    pointer-events: none;
    background: inherit;
}