@page "/CustomHeadings"
@using BlazorDatasheet.SharedPages.Components.Examples.Customisation
<h3>Custom headings</h3>

<div class="block">Custom column or row headings can be shown using the <code>ColumnHeaderTemplate</code> and <code>RowHeaderTemplate</code>
    render fragments.
</div>

<CodeExample ComponentType="typeof(CustomColumnHeadings)"/>