@page "/SheetMenuCustomisation"
@using BlazorDatasheet.SharedPages.Components.Examples.Menu
<h3>Context menu customisation</h3>

<div class="block">
    The context menu can be customised using the <code>MenuOptions</code> parameter of the Datasheet.
</div>

<div class="block">
    Custom menu items can be added to the context menu using the <code>MenuItems</code> parameter.
</div>

<CodeExample ComponentType="typeof(MenuCustomisation)"/>